main {
  overflow-x: hidden;
  width: 100vw;
  position: relative;
  top: calc(100vw * (177 / 1366))
}
// ******************************************************************************
// ******************************************************************************
// *************************MEDIA QUERIES****************************************
@media screen and (max-width: 768px) {
  main {
    top: calc(100vw * (200 / 375));
  }
}