.header__topBanner {
  width: 100vw;
  height: calc(100vw * (40.55 / 1366));
  background-color: $c-main2;
  padding: calc(100vw * (11 / 1366)) 0; 
  p {
    @include typoSet($fw-regular, $fsz-prices2, $flh-prices1, $ft-main);
    color: $c-sec2;
    text-align: center;
    vertical-align: middle;
  };
};
// ******************************************************************************
// ******************************************************************************
// *************************MEDIA QUERIES****************************************
@media screen and (max-width: 768px) {
  .header__topBanner  {
    height: calc(100vw * (40 / 375));
    padding: calc(100vw * (11 / 375)) 0; 
    p {
      @include typoSet($fw-regular, $fsz-prices2Mobile, normal, $ft-main);
    };
  }
}
