.header__logo {
  position: absolute; 
  left: calc(100vw * (122 / 1366)); // = 122px / 1366px;
  width: calc(100vw * (130 / 1366)); // = 130px / 1366px;
  height: calc(100vw * (156 / 1366)); // = 156px / 1366px;
  z-index: 100;
};
// ******************************************************************************
// ******************************************************************************
// *************************MEDIA QUERIES****************************************
@media screen and (max-width: 768px) {
  .header__logo {
    display: none;
  }
}

