.section__showcaseCategories {
  width: 100vw;
  padding-bottom: calc(100vw * (37 / 1366));
  &__slider {
    border: none;
    width: 100vw;
    margin: 0;
    &__paginator {
      border: none;
      &__circle {
        &__active {
          border: 1px solid $c-main1;
          background-color: $c-main1;
        }
      }
    };
    &__wrapper {
      border: none;
      margin-left: calc(100vw * (118 / 1366));
      margin-right: calc(100vw * (118 / 1366));
      width: unset;
      @include flexContainerConfig(row, nowrap, space-between, center);
      &__product {
        position: relative;
        border: none;
        border-radius: 5%;
        box-shadow: $product_box-hadow;
        @include flexContainerConfig(column, nowrap, flex-start, center);
        margin: calc(100vw * (49 / 1366)) calc(100vw * (37 / 1366)) calc(100vw * (34 / 1366)) calc(100vw * (37 / 1366));
        min-width: calc(100vw * (196 / 1366));
        min-height: calc(100vw * (197 / 1366));
        background-color: $c-neut7;
        scroll-snap-align: center;
        img {
          width: calc(100vw * (106 / 1366));
          height: calc(100vw * (148 / 1366));
        }
        &__name {
          position: absolute;
          @include typoSet($fw-regular, $fsz-subtitle, $flh-subtitle, $ft-second);
          bottom: calc(100vw * (15 / 1366));
        };
        &:nth-of-type(3) img {
          width: calc(100vw * (128 / 1366));
          height: calc(100vw * (162 / 1366));
        }
        &:nth-of-type(4) img {
          width: calc(100vw * (169 / 1366));
          height: calc(100vw * (197 / 1366));
        }
        &:nth-of-type(5) img {
          padding-top: 17px;
          width: calc(100vw * (144 / 1366));
          height: calc(100vw * (157 / 1366));
        }
      };
    };
  };
};
// ******************************************************************************
// ******************************************************************************
// *************************MEDIA QUERIES****************************************
@media screen and (max-width: 768px) {
  .section__showcaseCategories {
    &__slider {
      &__paginator {
        display: none;
      }
      &__wrapper {
        margin: 0;
        &__product {
          min-width: calc(100vw * (196 / 375));
          min-height: calc(100vw * (197 / 375));
          margin: calc(100vw * (31 / 375)) calc(100vw * (16 / 375)) calc(100vw * (31 / 375));
          img {
            width: calc(100vw * (106 / 375));
            height: calc(100vw * (148 / 375));
          }
          &__name {
            position: absolute;
            @include typoSet($fw-regular, $fsz-subtitleMobile, normal, $ft-second);
            bottom: calc(100vw * (15 / 375));
          };
          &:nth-of-type(3) img {
            width: calc(100vw * (128 / 375));
            height: calc(100vw * (162 / 375));
          }
          &:nth-of-type(4) img {
            width: calc(100vw * (169 / 375));
            height: calc(100vw * (197 / 375));
          }
          &:nth-of-type(5) img {
            padding-top: 17px;
            width: calc(100vw * (144 / 375));
            height: calc(100vw * (157 / 375));
          }
        }
      }
    }
  }
}